run = "npm run dev"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-16", "nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
XDG_CONFIG_HOME = "/home/runner/$REPL_SLUG/.config"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"
PORT = "3000"
HOST = "0.0.0.0"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config", "Runfile"]

[packager]
language = "nodejs"
  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[languages]
  [languages.javascript]
  pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
    [languages.javascript.languageServer]
    start = "typescript-language-server --stdio"

[deployment]
run = ["sh", "-c", "npm run preview"]
deploymentTarget = "cloudrun"
ignorePorts = false
build = ["sh", "-c", "npm run build"]

[onBoot]
command = "npx vite build"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 38231062

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash run.sh"

[[ports]]
localPort = 3000
externalPort = 80
